*{
    padding: 0;
    margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  padding: 1rem 2rem;
  color: black;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

